# Whitelabel configuration
VITE_CUSTOM_LOGO_URL=
VITE_CUSTOM_FAVICON_URL=
VITE_CUSTOM_COPYRIGHT=

# Per-host examples (optional)
# VITE_CHALLAN_NIGRAANI_COM_LOGO_URL=
# VITE_NIGRAANI_FAVICON_URL=
# VITE_NIGRAANI_COPYRIGHT=
